jupyter
jupyter-cache
matplotlib
multiprocess
upsetplot
emcee
corner
dvc[azure]
scipy
lymph-model @ git+https://github.com/rmnldwg/lymph@67ecfd87d5a9ba483c9c8092e20adc4bfecba25e
lyscripts @ git+https://github.com/rmnldwg/lyscripts@ea49ecc1a6ca8ef15256727fb8759867141d1871
lydata @ git+https://github.com/rmnldwg/lydata@c70c27892800c78ef8a3c86aa9226319fad765cd
pydantic
pydantic-settings
