jupyter
jupyter-cache
matplotlib
multiprocess
upsetplot
emcee
corner
dvc[azure]
scipy
lyscripts == 1.0.0
lymph-model @ git+https://github.com/lycosystem/lymph@b469258bc21ccd4ece6750b8825baed9be300dfd
lydata
pydantic
pydantic-settings
